.movie {
    height: 100%;
    width: 100%;
    background-image: url(i1.jpg);
    background-size: cover;
    background-position: center;
}

.Overlay .img {
    background-image: url(Button/heart.webp);
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: scale(0);
    transition: all 0.5s;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

.Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    height: 100%;
    transition: all 0.5s;
}

.Overlay:hover {
    background-color: rgba(0, 0, 0, 0);
}

.Overlay:hover .img {
    transform: scale(1);
}

.Overlay .img:hover {
    opacity: 1;
    transform: scale(1.5);
}

.Overlay .img:active {
    opacity: 1;
}