body {
    background-color: #292d38;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    color: aliceblue;
}

.main {
    margin-top: 80px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-gap: 40px;
}

.logo img {
    height: 200px;
    display: block;
}

.top {
    top: 0px;
    grid-column: 1/4;
    height: 80px;
    text-align: center;
    background: rgb(255, 254, 254);
    background: linear-gradient(0deg, rgba(255, 254, 254, 1) 0%, rgba(50, 55, 69, 1) 15%);
    position: fixed;
    width: 100%;
}

.scalebox {
    background: rgb(82, 164, 255);
    background: linear-gradient(164deg, rgba(82, 164, 255, 1) 0%, rgba(0, 0, 0, 1) 30%);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .body,
    .top {
        width: 100%;
    }
    .left,
    .right {
        width: 0%;
    }
}