.content-box{
    width: 100%;
    height: 680px;
    background-color: #292d38;
    display: flex;
    justify-content:center;
    
}
.content{
    width: 600px;
    height:500px ;
    background-color: white;
    margin-top: 10px;
    
}

.picture{
    width: 500px;
    height: 300px;
    background-color: rgb(236, 122, 122);
    margin: 0 auto;
    margin-top: 10px;
}
.picture img{
    max-width: 500px;
    max-height: 300px;
}
/*------comment-------*/
.comment-box{
    width: 600px;
    min-height: 150px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

.comment-form{
    display: flex;
    flex-direction: column;
}

.label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 25px;
    color: black;
}

.comment{
    width: 550px;
    min-height: 60px;
    border-radius: 10px;
    margin-left:25px ;
}
.submit{
    width: 80px;
    height: 20px;
    margin-top: 10px;
    margin-left: 260px ;
}

.submit:hover{
    color: white;
    background-color:#292d38;
}
.edit{
    width: 80px;
    height: 20px;
    margin-top: 10px;
    margin-left: 320px ;
}

.edit:hover{
    color: white;
    background-color:#292d38;
}

.cmt-table{
    width: 600px;
    height: 100px;
    /* background-color: violet; */
    border-radius: 10px;
    margin-left:50px ;
    margin-top: 10px;
}

/*-----phần hiện cmt-----*/
.cmt-table-box{
    width: 600px;
    height:300px ;
    background-color: rgb(255, 255, 255);
    display: flex;
    overflow:auto;
    margin-top: 210px;
    margin-left: 20px;
    color: black;
}