body {
    background-color: #292d38;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    color: aliceblue;
}

/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-gap: 40px;
} */

.logo img {
    height: 200px;
    display: block;
}

.top {
    grid-column: 1/4;
    height: 100px;
    text-align: center;
    background-color: aliceblue;
}

.scalebox {

    background: rgb(82, 164, 255);
    background: linear-gradient(164deg, rgba(82, 164, 255, 1) 0%, rgba(0, 0, 0, 1) 30%);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 1300px;
    height: 500px;
    /* background-color: rgb(255, 255, 255); */
    
}
p{
    color: rgb(255, 255, 255);
}
.container{
    
    
}
.Overlay{
    display: flex;
}

img{
   max-width: 200px;
   max-height: 150px ;
   margin: 40px 40px;
   display: flex;
   
}

.img-info-box{
    min-width: 100px;
    height: 150px;
    /* background-color: yellow;   */
    margin-top: 35px;
}

.img-info{
    color: rgb(255, 255, 255);
    
}
