.content-box{
    width: 100%;
    height: 680px;
    background-color: #292d38;
    display: flex;
    justify-content:center;
    margin-top: 10px;
}

.content{
    width: 700px;
    height: 500px;
    background-color: white;
    margin-top: 20px;
}
.user-avatar-box{
    width: 170px;
    height: 170px;
    background-color: rgb(253, 253, 253);
    margin: 20px 20px;
}
.user-avatar{
    width: 170px;
    height: 170px;
    background-color: blue;
    border-radius: 50%;
    margin-top: 25px;
}
.user-avatar img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
/*----thong tin user------*/
.user-info{
    margin-left: 20px;
    margin-top: 40px;
}
.user-info-box{
    min-width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
}

.user-info-detail{
    display: flex;
    flex-direction: column;
}

.user-info-detail li{
    
}

.info-detail{
    margin: 10px 20px;
}

