body {
    background-color: #292d38;
    color: aliceblue;
}

.container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.logo img {
    height: 200px;
    display: block;
}

.scalebox {
    background: rgb(82, 164, 255);
    background: linear-gradient(164deg, rgba(82, 164, 255, 1) 0%, rgba(0, 0, 0, 1) 30%);
    display: flexbox;
    max-width: 500px;
    max-height: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    /* background-color: rgb(255, 255, 255); */
}

p {
    color: rgb(255, 255, 255);
}

.Overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}

img {
    max-width: 500px;
    max-height: 450px;
    margin: 40px 40px;
    display: flex;
}

.movie {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-info-box {
    text-align: center;
    max-width: 100%;
    /* background-color: yellow;   */
}

.img-info {
    color: rgb(255, 255, 255);
}

.img {
    max-width: 100%;
}